
table {
  width: 100%;
}

.container{
  padding: 50px 80px;
}

.mat-mdc-button:not(:disabled){
background-color: rgb(136, 255, 0);

}

.titleToolbar{

  color: black;
}

.loading-spinner{
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.432);
  display: flex;
  align-items: center;
  justify-content: center;
}


